<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button
        fill="solid"
        shape="round"
        color="primary"
        (click)="cancel()"
      >
        <ion-icon name="close">Cancel</ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="app-capitalized">{{ modalType }} addition</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form nonvalidate #form="ngForm"
        (ngSubmit)="onSubmit(form)">
    <ion-list>
      <ion-item>
        <ion-label position="stacked" id="nameLabel">Name</ion-label>
        <ion-input
          type="text"
          name="name"
          placeholder="Enter name here"
          aria-labelledby="nameLabel"
          required
          [(ngModel)]="model.name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" id="VolumeLabel">Volume (cm<sup>3</sup>)</ion-label>
        <ion-input
          type="number"
          name="volume"
          placeholder="Enter volume here"
          aria-labelledby="volumeLabel"
          required
          min="0"
          [(ngModel)]="model.volume"
        ></ion-input>
      </ion-item>
      <ion-button
        class="app-addion-modal-submit"
        type=”submit”
        [disabled]="!form.valid || model.name === data?.name && model.volume === data?.volume"
      >{{ data ? 'Edit' : 'Add' }} {{ modalType }}</ion-button
      >
    </ion-list>
  </form>
</ion-content>
