<ion-card
  color="light"
  dndDropzone
  [dndType]="'container'"
  [dndDraggable]="generateDraggableData(container)"
  (dndDrop)="onDrop($event, container)"
  class="app-containers-list-item"
>
  <ion-card-content
  >{{ container.name }}
    <p>
      <small>({{ container.volumeUsed }} of {{ container.volume }} cm<sup>3</sup>)</small>
      <ion-progress-bar
        [color]="getProgressColor(container.volumeUsed / container.volume)"
        [value]="container.volumeUsed / container.volume"></ion-progress-bar>
    </p>
    <div class="app-container__things">
      <app-things-list
        [data]="container.children | filterThings"
        [size]="'small'"
      />
      <app-containers-list
        [data]="container.children | filterContainers"
      />
    </div>
  </ion-card-content>
  <ion-button
    size="small"
    fill="clear"
    *ngIf="editMode"
    (click)="onEditContainer(container)"
    [disabled]="container.children.length">
    <ion-icon name="pencil" color="primary"></ion-icon>
  </ion-button>
  <ion-button
    size="small"
    fill="clear"
    *ngIf="editMode"
    (click)="onRemoveContainer(container)">
    <ion-icon name="close-circle-outline" color="danger"></ion-icon>
  </ion-button>
  <div dndPlaceholderRef class="app-dnd-area" dndDragoverClass="app-dnd-area_drag-over"></div>
</ion-card>
